#De volgende modules zijn nodig om het programma te kunnen gebruiken

matplotlib
numpy
scipy

#In cmd: 
#       py -m pip install -r "locatie van dit bestand"
#	OF
#       py -m pip install matplotlib numpy scipy
